.drawer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(+100%);
    background-color: #5421c9;
    transition: .5s;
    position: fixed; 
    height: 100vh;
    width: 100vw;
    z-index: 1;
}

.drawer-link{
    color: white;
    text-decoration: none;
    font-weight: 900;
    font-size: xx-large;
}

.drawer-link:hover{
    color: #b536ff;
    transition: .3s;
}

.drawer.open{
    transform: translateX(0);
}

@media (min-width: 769px){
.drawer{
    display: none;
    }
}