@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800;900&display=swap');

.App{
    display: flex;
    flex-direction: column;
    height: 80vh;
    font-family: 'Montserrat', sans-serif;
}

.button{
    border: 1px black solid;
    color: #ff7381;
    background-color: black;
    padding: 15px;
    border-radius: 4rem;
    font-weight: 800;
    font-size: 15px;
    margin: 16px;
    transition: 0.4s;
}


.button:hover{
    background-color: #ff7381;
    color: black;
    border: 1px #ff7381 solid;
}

.section-1{
    margin-right: 8%;
    margin-left: 8%;

}

.nav-bar{
    display: flex;
    top: 0;
    position: sticky;
    align-items: center;
    background: url(https://www.sprintfwd.com/images/hero-bg.png) repeat;
    font-size: 13px;
    color: white;
    font-weight: 700;
    justify-content: space-around;
}

.btn-link {
    text-decoration: none;
    margin: 15px;
    padding: 18px 30px;
    border: 1px transparent solid;
    color: white;
    transition: .8s;
}

.btn-link:hover {
    border: 1px white solid;
    border-radius: 0.5rem;
    padding: 18px 30px;
    color: white;
}
