.table {
	display: flex;
	justify-content: center;
}

.title {
	margin: 60px;
	font-weight: 900;
}

tbody {
	background-color: #f7f7f7;
}

td {
	border-bottom: 1px #5d32d5 solid;
	padding: 15px 40px;
	font-weight: light;
	font-size: medium;
}

tr:hover {
	background-color: lightcoral;
	color: white;
	transition: 0.4s;
	cursor: pointer;
}

table {
	padding-top: 10px;
}

thead th {
	background-color: #5d32d5;
	color: white;
	font-size: larger;
	padding: 0.8rem;
	margin: 0.5rem;
}

@media (max-width: 480px) {
	td {
		padding: 10px;
	}
	.title {
		margin: 30px;
	}
}
