.to-do-list{
    display: flex;
    flex-direction: column;   
    justify-content: center;
    align-items: center;
}

ul{
    padding: 0px;
    width: 45%;
}

input{
    width: 40%;
    border: 2px transparent;
    border-radius: 4rem;
    padding: 15px;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    transition: 0.4s
}

.checkbox{
    width: 20px;
    background: none;
    box-shadow: none;
    
}

.to-do-string{
    word-break: break-word;
    width: 80%;
    text-align: start;
}

.list-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f7f7f7;
    width: auto;
    padding: 40px;
    list-style: none;
    font-weight: light;
    font-size: medium;
}

input:hover{
    border-color: #ff7381;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.add-button{
    width: 200px;
}

.delete-button, .update-button{
    border: none;
    background-color: #f7f7f7;
}

svg:hover{
    fill: black;
}

